* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #181C1F;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}

header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #48D9F3;
}

header p {
  color: #82C2CE;
}

.logo {
  height: 3em;
}

.card {
  display: flex;
  padding-top: 2em;
  gap: 0.3rem;
}

button {
  border: none;
  border-radius: 5px 5px 0 0;
  background-color: #282F33;
  color: #E0EFF1;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

button:hover, button:active, button:focus {
  background-color: #48D9F3;
  color: #273133;
}

ul {
  background-color: #2D3942;
  color: #BDD1D4;
  padding: 20px;
  padding-inline-start: 50px;
  max-width: 450px;
}

li {
  margin: 0.8em 0;
}